<div *ngIf="clickedR" class="row">
  <div class="col-xs-12 pt-2">
    <img src="{{clickedR.imagePath}}" alt="" class="img-fluid" style="max-width: 100%; max-height: 400px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{clickedR.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" appDropdown>Manage Recipes
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" (click)="addIngs(clickedR.ingredients)" style="cursor: pointer">To Shopping List</a></li>
        <li><a class="dropdown-item" routerLink="edit">Edit Recipe</a></li>
        <li><a href="#" class="dropdown-item">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 m-3">
    <strong>Description</strong><br>
    {{clickedR.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 m-3">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ing of clickedR.ingredients" >{{ing.name}} / {{ing.amount}}</li>
    </ul>
  </div>
</div>
