<div *ngIf="clickedR" class="row">
  <div class="col-xs-12 pt-2 text-center">
    <img src="{{clickedR.imageUrl}}" alt="" class="img-fluid mb-2" style="max-width: 100%">
  </div>
</div>
<div class="row flex-shrink-0">
  <div class="col-sm-12">
      <h1 class="d-inline m-5 text-primary">{{clickedR.name}}</h1>
    <div class="dropdown me-5 mt-2 float-end">
      <button type="button" class="btn btn-primary dropdown-toggle" appDropdown>Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="cursor: pointer">
        <li><a class="dropdown-item" (click)="addIngs(clickedR.ingredients)" >To Shopping List</a></li>
        <li><a class="dropdown-item" routerLink="edit">Edit Recipe</a></li>
        <li><a class="dropdown-item" (click)="deleteR()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 m-3">
    <strong>Description</strong><br>
    {{clickedR.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 m-3">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ing of clickedR.ingredients" >{{ing.ingName}} / {{ing.ingAmount}}</li>
    </ul>
  </div>
</div>
